.content {
  width: 100vw;
  margin: 30px;
}

.add-trans-btn {
  margin-top: 10px;
  background-color: #c8ee44;
  border: none;
  padding: 12px 16px;
  border-radius: 15px;
  transition: 0.5s;
}

.add-trans-btn:hover {
  color: #c8ee44;
  background-color: black;
  transform: scale(1.1);
}

.trans-table {
  width: 100%;
}

.trans-table,
th {
  /* border: 1px solid black; */
  color: #929eae;
  margin-top: 20px;
}

.trans-table tbody {
  margin-top: 30px !important;
}

.trans-table td {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1b212d;
  border-bottom: 1px solid #f5f5f5;
}

.info-box {
  background-color: #929eae;
  padding: 4rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.text-lightgrey {
  color: #78778b !important;
}

.view-trans-btn {
  align-items: center;
  padding: 11px 20px 12px;
  gap: 10px;
  background: #c8ee44;
  border-radius: 4px;
  border: none;
}

.status-text span {
  padding: 10px;
  color: aliceblue;
  background-color: #27ae60;
}

.expense-text span {
  background-color: #f4c1c1;
  color: black;
}
