.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  width: 40vw;
  padding: 50px;
  background-color: #fafafa;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container h4 {
  font-size: 24px;
  margin-top: 0;
}

.modal-container label {
  margin-top: 20px;
  font-weight: 700;
  display: block;
}

.form-control {
  margin-bottom: 20px;
  width: 90%;
  padding: 15px 25px 16px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin: 10px 5px 20px 0px;
}

.modal-container button {
  float: right;
  margin: 20px 0px 0px 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(245, 126, 126);
}

.add-card-btn-modal {
  background-color: #c8ee44 !important;
}
