.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.row {
  display: flex;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-10 {
  width: 100%;
}

.heading {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #1b212d;
}

.top-bar-icons {
  margin: 0px 40px;
  font-size: 22px;
  color: #929eae;
}

.profile-banner {
  margin-top: 12px;

  justify-content: space-between;
  align-items: center;
  padding: 6px 15px 6px 7px;
}
